body, html{
    overflow-x: hidden;
}

.main_rating{
	min-height: 50vh;
	background-color: #EEEDF3;
	padding-top: 0;
}

.blue-line{
    background-color: #3949AB;
    background-image: url(../img/updown.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    margin: 30px 0 90px;
}

.full-width {
    margin-right: calc(-100vw / 2 + 1068px / 2);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.blue-line h1{
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 42px;
    color: #EBECF2;
    margin: 0;
}

.deputy{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 70px;
    margin: 45px 0;
    position: relative;
    padding: 0 0 0 20px;
    -webkit-box-shadow: 10px 10px 36px -19px rgba(107,107,107,1);
-moz-box-shadow: 10px 10px 36px -19px rgba(107,107,107,1);
box-shadow: 10px 10px 36px -19px rgba(107,107,107,1);
}

.deputy h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.throw{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deputy.top3 h2{

}

.main-info{
    display: flex;
    height: 100%;
}

.deputy .avatar{
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 6px solid #3949AB;
    transform: translate(6px, -20px)
}

.deputy.top3 .avatar{
    width: 100px;
    height: 100px;
    transform: translate(0, -25px);
}

.deputy .current{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
    margin: 0;
}

.difference{
    display: flex;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 6px;
    width: 50px;
}

.difference i{
    margin-left: 2px;
    font-size: 23px;
}

.positive{
    color: #63B06B;
    
}

.negative{
    color: #DA654B;
}

.null{
    color: #B6BBD5;
}

.party{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: #3949AB;
    margin: 0;
    white-space: nowrap;
}

.vote{
    display: flex;
    align-items: center;
    position: absolute;
    left: 41%;
    top: 24px;
    color: black;
    font-family: Open Sans;
    font-size: 14px;
}

.vote.voted, .vote.voted i{
    color: #63B06B;
}

.vote i{
    margin-right: 5px;
    position: relative;
    top: -1px;
    color: #DDDCE4;
    font-size: 24px;
}

.laws, .laws a, .smi, .upr, .experts, .total{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    color: #000000;
}

.attendance{
    color: #3949AB;
    position: relative;
    top: 15px;
}

.attendance-wrapper{
    position: absolute;
    right: -10px;
    width: 215px;
    height: 70px;
    overflow: hidden;
}

.table{
    display: flex;
    position: absolute;
    left: 45%;
    align-items: center;
    width: 55%;
    height: 100%;
}

.deputy:first-child .difference::after{
    content: 'ПОЗИЦИЯ';
    left: -31px;
}

.deputy:first-child .laws::after{
    content: 'ЗД';
}

.deputy:first-child .smi::after{
    content: 'СМИ';
    left: 32px;
}


.deputy:first-child .experts::after {
    content: 'Эксперты';
    left: 0px;
}

.deputy:first-child .upr::after{
    content: 'UPR';
    left: 41px;
}

.deputy:first-child .total::after{
    content: 'Общий';
    left: 18px;
}


.deputy:first-child *::after{
    position: absolute;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: #B6BBD5;
    top: -56px;
}

.semicircle, .circle{
    position: absolute;
    top: 7px;
    width: 125px;
    left: 86px;
}

.semicircle{
    transition: transform 1.5s ease-in-out;
}

.semicircle.init{
    transform: rotate(0) !important;
}

.abbreviations p span{
    color: #3949AB;
}


@media (max-width: 1140px) and (min-width: 1019px){

    .blue-line {
        height: 175px;
        margin-bottom: 85px;
    }

    .blue-line h1 {
        font-size: 40px;
    }

    .deputy{
        height: 55px;
        margin: 50px 0;
    }

    .deputy.top3 {
        margin: 70px 0;
    }

    .deputy.top3 .avatar {
        width: 100px;
        height: 100px;
        transform: translate(0, -35%);
    }

    .deputy.top3 .party {
        top: 39px;
    }

    .party {
        font-size: 15px;
        left: 120px;
        top: 34px;
    }

    .deputy.top3 h2 {
        transform: translate(20px, -100%);
    }

    .deputy h2 {
        transform: translate(45px, -125%);
    }

    .deputy:first-child *::after {
        font-size: 15px;
        top: -50px;
    }

    .deputy .avatar {
        width: 75px;
        height: 75px;
        border: 7px solid #3949AB;
        transform: translate(25px, -30%);
    }

    .deputy h2 {
        font-size: 14px;
    }

    .deputy .current {
        font-size: 24px;
    }

    .difference {
        display: flex;
        font-family: Roboto Slab;
        font-weight: bold;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 35px;
        position: relative;
        top: 4px;
        width: 35px;
    }

    .table {
        left: 500px;
        width: 440px;
    }

    .attendance-wrapper {
        right: -10px;
        width: 215px;
        height: 55px;
    }

    .semicircle, .circle {
        position: absolute;
        top: 8px;
        width: 100px;
        left: 97px;
    }

    .deputy:first-child .attendance::after {
        content: 'ПОСЕЩЕНИЕ';
        left: 4px;
        top: -65px;
    }

    .laws, .smi, .upr, .attendance {
        font-size: 15px;
    }

    .deputy:first-child .laws::after {
        left: 32px;
    }

    .deputy:first-child .smi::after {
        left: 27px;
    }
}



@media (max-width: 1018px) and (min-width: 768px){

    .blue-line {
        height: 150px;
        margin-bottom: 65px;
    }

    .blue-line h1 {
        font-size: 36px;
    }

    .deputy{
        height: 50px;
    }

    .deputy.top3 {
        margin: 70px 0;
    }
    
    .deputy.top3 .avatar {
        width: 85px;
        height: 85px;
        transform: translate(0, -30%);
    }

    .deputy.top3 .party {
        top: 34px;
    }

    .party {
        font-size: 13px;
        left: 102px;
        top: 34px;
    }

    .deputy.top3 h2 {
        transform: translate(15px, -120%);
    }

    .deputy h2 {
        transform: translate(32px, -125%);
    }

    .deputy:first-child *::after {
        font-size: 13px;
        top: -43px;
    }

    .deputy .avatar {
        width: 70px;
        height: 70px;
        border: 7px solid #3949AB;
        transform: translate(15px, -25%);
    }

    .deputy h2 {
        font-size: 13px;
    }

    .deputy .current {
        font-size: 20px;
    }

    .difference {
        font-size: 14px;
        margin-left: 6px;
        margin-right: 25px;
        top: 4px;
        width: 30px;
    }

    .table {
        left: 400px;
        width: 315px;
    }

    .attendance-wrapper {
        right: -10px;
        width: 215px;
        height: 50px;
    }

    .semicircle, .circle {
        top: 10px;
        width: 80px;
        left: 122px;
    }

    .deputy:first-child .attendance::after {
        left: -6px;
        top: -58px;
    }

    .laws, .smi, .upr, .attendance {
        font-size: 14px;
    }

    .deputy:first-child .laws::after {
        left: -45px;
    }

    .deputy:first-child .smi::after {
        left: 32px;
    }

    .deputy:first-child .upr::after {
        left: 23px;
    }
}



@media (max-width: 767px){

    .blue-line {
        height: 150px;
        margin-bottom: 35px;
    }

    .blue-line h1 {
        font-size: 22px;
        text-align: center;
        background-position: 85%;
        background-size: 220%;
    }

    .deputy, .deputy.top3 {
        margin: 20px 0;
        height: 40px;
        padding: 0 0 0 5px;
    }
    
    .deputy.top3 .avatar {
        width: 60px;
        height: 60px;
        transform: translate(0, -10%);
    }

    .deputy.top3 .party {

    }

    .main-info {
        display: flex;
        position: relative;
        width: 80px;
        flex-direction: row;
    }

    .throw {
        margin-left: 0px;
    }

    .vote {
        position: absolute;
        left: 70px;
        top: 10px;
        font-size: 12px;
    }

    .vote i {
        margin-right: 5px;
        position: relative;
        top: -1px;
        color: #DDDCE4;
        font-size: 16px;
    }

    .party, .deputy.top3 .party {
        /* font-size: 10px;
        left: 102px;
        top: 34px;
        position: initial; */
        display: none;
    }

    .deputy:first-child *::after {
        font-size: 10px;
        top: -30px;
    }

    .deputy .avatar {
        /* width: 70px;
        height: 70px;
        border: 7px solid #3949AB;
        transform: translate(15px, -25%); */
        display: none;
    }

    .deputy:first-child .difference::after {
        content: 'ПОЗИЦИЯ';
        left: -20px;
        top: -34px;
    }

    .deputy h2, .deputy.top3 h2 {
        font-size: 10px;
        transform: none;
        line-height: 12px;
        margin: 0;
    }

    .deputy .current {
        font-size: 16px;
    }

    .difference {
        font-size: 12px;
        margin-left: 6px;
        margin-right: 10px;
        top: 4px;
        width: 30px;
        display: flex;
        align-items: center;
    }

    .difference i {
        margin-left: 1px;
        font-size: 15px;
    }

    .table {
        left: 48%;
        width: 52%;
    }

    .attendance-wrapper {
        right: -10px;
        width: 215px;
        height: 40px;
    }

    .semicircle, .circle {
        top: 24%;
        width: 28%;
        left: 70%;
    }

    .deputy:first-child .attendance::after {
        left: -6px;
        top: -45px;
    }

    .laws a, .smi, .upr, .attendance, .experts, .total {
        font-size: 10px;
    }

    .deputy:first-child .laws::after {
        content: 'ЗД';
        left: 11px;
    }

    .deputy:first-child .experts::after {
        content: 'ЭКС';
        left: 9px;
    }

    .deputy:first-child .smi::after {
        left: 5px;
    }

    .deputy:first-child .upr::after {
        left: 7px;
    }

    .deputy:first-child .total::after {
        left: 0px;
    }


}