.main_rating{
	min-height: 50vh;
	background-color: rgba(0,0,0,0);
	padding-top: 48px;
}

.deputy{
    display: flex;
    margin: 50px 1%;
}

.deputy .avatar{
    object-fit: cover;
    width: 10%;
    height: 100%;
    min-width: 100px;
}

.deputy.top3 .avatar{
    width: 15%;
}

.deputy .info{
    margin: 10px 20px;
    display: flex;
}

.info .col{
    margin: 0 20px;
}

.deputy .current{
    color: grey;
    font-size: 2em;
}

.deputy.top3:nth-of-type(1) .current{
    color: gold;
    font-size: 3em;
}

.deputy.top3:nth-of-type(2) .current{
    color: silver;
    font-size: 3em;
}

.deputy.top3:nth-of-type(3) .current{
    color: #cd7f32;
    font-size: 3em;
}

.party_logo{
    width: 100px;
    height: 100%;
    margin-left: 10px;
}

.party{
    display: flex;
    align-items: center;
}

.positive{
    color: lightgreen;
}

.negative{
    color: rgb(187, 32, 83);
}

.difference{
    position: relative;
    top: -10px;
    font-size: 1.5em;
}