{% extends "rating/base.html" %}
{% load static %}
{% block content %}

    <div class="blue-line full-width">
        <h1>Рейтинг молодых политиков</h1>
    </div>

    <div class="deputies">
        {% for deputy in deputies %}
        <div class="deputy {% if deputy.position_current <= 3 %}top3{% endif %}">
            <p class="current">{{ deputy.position_current }}.</p>
            {{ deputy.position_change_snippet|safe }}
            <div class="main-info">
                <img class="avatar" src="{% get_static_prefix %}rating/img/deputies/{{ deputy.photo }}" alt="">
                <div class="throw">
                    <h2>{{ deputy.name_surname }}</h2>
                    <p class="party">{{ deputy.get_party_display }}</p>
                </div>
                <a href="#" class="vote {% if deputy.pk in voted %}voted{% endif %}" data-pk="{{ deputy.pk }}">
                    <i class="fas fa-thumbs-up"></i>
                    <span>{{ deputy.votes }}</span>
                </a>
            </div>
            <div class="table">
                <p class="upr">{{ deputy.upr }}</p>
                <p class="smi">{{ deputy.monitoring }}</p>
                <p class="experts">{{ deputy.experts }}</p>
                <p class="laws">{{ deputy.submitted_laws }}</p>
                <p class="total">{{ deputy.total }}</p>

            </div>
        </div>
        {% endfor %}
    </div>
    

{% endblock content %}  