{% extends "rating/base.html" %}
{% load static %}
{% block content %}
    <div class="blue-line full-width">
        <h1>Рейтинг молодых политиков</h1>
    </div>
    <div class="description">
        <p>
        Фонд «Украинская политика»/Ukrainian Politics Foundation представляет вашему вниманию ежемесячный Рейтинг молодых политиков.
        <br><br>
        В данном рейтинге принимают участие депутаты Верховной Рады в возрасте до 40 лет. Его результаты демонстрируют перспективность в развитии дальнейшей политической карьеры каждого из участников.
        <br><br>
        Рейтинг состоит из четырех критериев, которые обновляются раз в месяц. Среди них оценка экспертов (Эксперты), рейтинг UPR (оценка экспертов Фонда «Украинская политика»/Ukrainian Politics Foundation), медиаактивность депутатов (количество упоминаний в СМИ за предыдущий месяц), а также законотворческая деятельность (количество предложенных законопроектов или изменений к законодательству каждым из депутатов).
        <br><br>
        Также, каждый желающих может проголосовать за того или иного депутата непосредственно на сайте Фонда. Результаты голосования также будут учитываться в рейтинговых показателях в следующем месяце.
        </p>
    </div>
    <div class="deputies">
        {% for deputy in deputies %}
        <div class="deputy {% if deputy.position_current <= 3 %}top3{% endif %}">
            <p class="current">{{ deputy.position_current }}.</p>
            {{ deputy.position_change_snippet|safe }}
            <div class="main-info">
                <img class="avatar" src="{% get_static_prefix %}rating/img/deputies/{{ deputy.photo }}" alt="">
                <div class="throw">
                    <h2>{{ deputy.name_surname }}</h2>
                    <p class="party">{{ deputy.get_party_display }}</p>
                </div>
                <a href="#" class="vote {% if deputy.pk in voted %}voted{% endif %}" data-pk="{{ deputy.pk }}">
                    <i class="fas fa-thumbs-up"></i>
                    <span>{{ deputy.votes }}</span>
                </a>
            </div>
            <div class="table">
                <p class="upr">{{ deputy.upr }}</p>
                <p class="smi">{{ deputy.monitoring }}</p>
                <p class="experts">{{ deputy.experts }}</p>
                <p class="laws"><a href="http://w1.c1.rada.gov.ua/pls/pt2/reports.dep2?PERSON={{ deputy.rada_id }}&SKL=10">{{ deputy.submitted_laws }}</a></p>
                <p class="total">{{ deputy.total }}</p>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="abbreviations">
        <h4 class="block-title td-block-title"><span class="td-pulldown-size">Аббревиатуры</span></h4>
        <p>
            <span>UPR</span> – оценка экспертов Фонда «Украинская политика»/Ukrainian Politics Foundation
            <br><br>
            <span>СМИ</span> – количество упоминаний о каждом из депутатов за предыдущий месяц
            <br><br>
            <span>Эксперты</span> – оценка независимых политических экспертов и политологов (создается с помощью ежемесячной рассылки анкеты десяти экспертам).
            <br><br>
            <span>ЗД</span> – рейтинг по количеству предложенных законопроектов или изменений в законы каждым из участников рейтинга.
            <br><br>
            <span>Общий</span> – общее количество балов, полученное по итогам всех критериев.</p>
    </div>
{% endblock content %}
